
#estructura{
    position: absolute;
    width: 440px;
    height: 205px;
    right: -30px;
    top: 40%;
    bottom: 150px;
    box-sizing: border-box;
}

#andamios-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#andamios{
    position: absolute;
    width: 321px;
    height: 175px;
    top: 0%;
    right: 30px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/andamios.png);

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.barras-moving-1 #andamios,
.barras-moving-2 #andamios,
.barras-moving-3 #andamios,
.barras-moving-4 #andamios,
.barras-moving-5 #andamios{
    animation-name: animacion-andamios-1;
    -webkit-animation-name: animacion-andamios-1;
}
@keyframes animacion-andamios-1{
    0%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
    10%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -o-transform: translateX(2px);
    }
    20%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
    30%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -o-transform: translateX(2px);
    }
    40%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
    50%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -o-transform: translateX(2px);
    }
    60%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
    70%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -o-transform: translateX(2px);
    }
    80%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
    90%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -o-transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -o-transform: translateX(-2px);
    }
}

#plataforma{
    position: absolute;
    width: 434px;
    height: 41px;
    
    left: 50%;
    left: calc(50% - (434px / 2));
    left: -moz-calc(50% - (434px / 2));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/plataforma.png);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
}
.barras-moving-1 #plataforma,
.barras-moving-2 #plataforma,
.barras-moving-3 #plataforma,
.barras-moving-4 #plataforma{
    animation-name: animacion-plataforma;
    -webkit-animation-name: animacion-plataforma;
}
.barras-moving-5 #plataforma{
    animation-fill-mode: forwards;
    animation-name: animacion-plataforma-final;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: animacion-plataforma-final;
}
@keyframes animacion-plataforma{
    0%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
    }
    10%{
        transform: rotate(-1deg) translateX(2px);
        -webkit-transform: rotate(-1deg) translateX(2px);
        -o-transform: rotate(-1deg) translateX(2px);
    }
    20%{
        transform: rotate(1deg) translateX(-2px);
        -webkit-transform: rotate(1deg) translateX(-2px);
        -o-transform: rotate(1deg) translateX(-2px);
    }
    30%{
        transform: rotate(-1deg) translateX(2px);
        -webkit-transform: rotate(-1deg) translateX(2px);
        -o-transform: rotate(-1deg) translateX(2px);
    }
    40%{
        transform: rotate(1deg) translateX(-2px);
        -webkit-transform: rotate(1deg) translateX(-2px);
        -o-transform: rotate(1deg) translateX(-2px);
    }
    50%{
        transform: rotate(-1deg) translateX(2px);
        -webkit-transform: rotate(-1deg) translateX(2px);
        -o-transform: rotate(-1deg) translateX(2px);
    }
    60%{
        transform: rotate(1deg) translateX(-2px);
        -webkit-transform: rotate(1deg) translateX(-2px);
        -o-transform: rotate(1deg) translateX(-2px);
    }
    70%{
        transform: rotate(-1deg) translateX(2px);
        -webkit-transform: rotate(-1deg) translateX(2px);
        -o-transform: rotate(-1deg) translateX(2px);
    }
    80%{
        transform: rotate(1deg) translateX(-2px);
        -webkit-transform: rotate(1deg) translateX(-2px);
        -o-transform: rotate(1deg) translateX(-2px);
    }
    90%{
        transform: rotate(-1deg) translateX(2px);
        -webkit-transform: rotate(-1deg) translateX(2px);
        -o-transform: rotate(-1deg) translateX(2px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
    }
}
@keyframes animacion-plataforma-final{
    0%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
        top: 0px;
    }
    10%{
        transform: rotate(-1deg) translateX(3px);
        -webkit-transform: rotate(-1deg) translateX(3px);
        -o-transform: rotate(-1deg) translateX(3px);
        top: 0px;
    }
    20%{
        transform: rotate(1deg) translateX(-3px);
        -webkit-transform: rotate(1deg) translateX(-3px);
        -o-transform: rotate(1deg) translateX(-3px);
        top: 0px;
    }
    30%{
        transform: rotate(-1deg) translateX(3px);
        -webkit-transform: rotate(-1deg) translateX(3px);
        -o-transform: rotate(-1deg) translateX(3px);
        top: 0px;
    }
    40%{
        transform: rotate(1deg) translateX(-3px);
        -webkit-transform: rotate(1deg) translateX(-3px);
        -o-transform: rotate(1deg) translateX(-3px);
        top: 0px;
    }
    50%{
        transform: rotate(-1deg) translateX(3px);
        -webkit-transform: rotate(-1deg) translateX(3px);
        -o-transform: rotate(-1deg) translateX(3px);
        top: 0px;
    }
    60%{
        transform: rotate(1deg) translateX(-3px);
        -webkit-transform: rotate(1deg) translateX(-3px);
        -o-transform: rotate(1deg) translateX(-3px);
        top: 0px;
    }
    70%{
        transform: rotate(-1deg) translateX(3px);
        -webkit-transform: rotate(-1deg) translateX(3px);
        -o-transform: rotate(-1deg) translateX(3px);
        top: 0px;
    }
    80%{
        transform: rotate(1deg) translateX(-3px);
        -webkit-transform: rotate(1deg) translateX(-3px);
        -o-transform: rotate(1deg) translateX(-3px);
        top: 0px;
    }
    90%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
        top: 90%;
        top: calc(90% - 41px);
        top: -moz-calc(90% - 41px);
    }
    97%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
        top: 90%;
        top: calc(90% - 51px);
        top: -moz-calc(90% - 51px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
        -o-transform: rotate(0deg) translateX(0px);
        top: 90%;
        top: calc(90% - 41px);
        top: -moz-calc(90% - 41px);
    }
}

.humo{
    position: absolute;
    width: 182px;
    height: 75px;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
#humo1{
    top: 51%;
    background-image: url(../images/humo-1.svg);
}
#humo2{
    top: 54%;
    background-image: url(../images/humo-2.svg);
}
#humo3{
    top: 63%;
    background-image: url(../images/humo-1.svg);
}

.humo-on-1,.humo-on-2,.humo-on-3{
    visibility: visible;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    
    animation-fill-mode: forwards;
    
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    
    -webkit-animation-fill-mode: forwards;
}

.humo-on-1{
    animation-name: animacion-humo-on-1;
    animation-duration: 0.75s;
    -webkit-animation-name: animacion-humo-on-1;
    -webkit-animation-duration: 0.75s;
}
.humo-on-2{
    animation-duration: 0.9s;
    animation-name: animacion-humo-on-2;
    -webkit-animation-name: animacion-humo-on-2;
    -webkit-animation-duration: 0.9s;
}
.humo-on-3{
    animation-duration: 1s;
    animation-name: animacion-humo-on-3;
    -webkit-animation-name: animacion-humo-on-3;
    -webkit-animation-duration: 1s;
}

@keyframes animacion-humo-on-1{
    0%{
        left: 20%;
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        -o-transform: scale(0.3);
    }
    100%{
        left: 0%;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    0%{
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    60%{
        opacity: 1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -o-filter: blur(5px);
    }
    100%{
        opacity: 0;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -o-filter: blur(10px);
    }
}
@keyframes animacion-humo-on-2{
    0%{
        left: 50%;
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        -o-transform: scale(0.4);
    }
    100%{
        left: 65%;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    0%{
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    60%{
        opacity: 1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -o-filter: blur(5px);
    }
    100%{
        opacity: 0;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -o-filter: blur(10px);
    }
}
@keyframes animacion-humo-on-3{
    0%{
        left: 40%;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    100%{
        left: 30%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    0%{
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    60%{
        opacity: 1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -o-filter: blur(5px);
    }
    100%{
        opacity: 0;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -o-filter: blur(10px);
    }
}

#barras{
    position: absolute;
    width: 100%;
    height: 184px;
    top: 20px;
    left: 0px;
}
#barras > div{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../images/bloque.png);
    
}
#barra1,
#barra2,
#barra3{
    width: 32px;
    height: 182px;
    top: 0px;
}
#barra1{
    left: 20%;
}
#barra2{
    left: 50%;
}
#barra3{
    left: 85%;
}

#barra4,
#barra5,
#barra6{
    width: 25px;
    height: 165px;
    top: 5px;
}
#barra4{
    left: 15%;
}
#barra5{
    left: 45%;
}
#barra6{
    left: 80%;
}

#barra7,
#barra8,
#barra9{
    width: 22px;
    height: 146px;
    top: 10px;
}
#barra7{
    left: 10%;
}
#barra8{
    left: 40%;
}
#barra9{
    left: 75%;
}

#barra10,
#barra11,
#barra12{
    width: 19px;
    height: 132px;
    top: 15px;
}
#barra10{
    left: 5%;
}
#barra11{
    left: 35%;
}
#barra12{
    left: 70%;
}


/************sentidos************/

.barras-moving-barra-right{
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    animation-name: animacion-barra-right;
    -webkit-animation-name: animacion-barra-right;

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
.barras-moving-barra-left{
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    animation-name: animacion-barra-left;
    -webkit-animation-name: animacion-barra-left;

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
.barras-moving-barra-normal1,
.barras-moving-barra-normal2
{
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    animation-name: animacion-barra-normal;
    -webkit-animation-name: animacion-barra-normal;

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
.barras-moving-barra-normal2{
    animation-direction: reverse;
    -webkit-animation-direction: reverse;
}

@keyframes animacion-barra-left{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    5%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    15%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    25%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    35%{
        transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -o-transform: rotate(4deg);
    }
    45%{
        transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
    }
    55%{
        transform: rotate(6deg);
        -webkit-transform: rotate(6deg);
        -o-transform: rotate(6deg);
    }
    65%{
        transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
    }
    75%{
        transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -o-transform: rotate(8deg);
    }
    90%{
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }
    95%{
        transform: rotate(-88deg);
        -webkit-transform: rotate(-88deg);
        -o-transform: rotate(-88deg);
    }
    100%{
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }
}
@keyframes animacion-barra-right{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    5%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    15%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    25%{
        transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -o-transform: rotate(4deg);
    }
    35%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    45%{
        transform: rotate(6deg);
        -webkit-transform: rotate(6deg);
        -o-transform: rotate(6deg);
    }
    55%{
        transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
    }
    65%{
        transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -o-transform: rotate(8deg);
    }
    75%{
        transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
    }
    90%{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    95%{
        transform: rotate(88deg);
        -webkit-transform: rotate(88deg);
        -o-transform: rotate(88deg);
    }
    100%{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}
@keyframes animacion-barra-normal{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    5%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    15%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    25%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    35%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    45%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    55%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    65%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    75%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    85%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    95%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

#personaje_salvado,#personaje_temblando{
    position: absolute;
    top: 10px;
}
#personaje_temblando{
    right: 140px;
}
#personaje_salvado{
    right: 144px;
}
.personaje_temblando_animation{
    transform-origin: 80% 100%;
    -webkit-transform-origin: 80% 100%;
    -o-transform-origin: center 80% 100%;
    animation-name: animacion-personaje-temblando;
    animation-iteration-count: 4;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    -webkit-animation-name: animacion-personaje-temblando;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-timing-function: linear;
    -webkit- animation-duration: 0.5s;
}
@keyframes animacion-personaje-temblando{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}
.personaje-action-off{
    display: none;
}
.personaje-action-on{
    display: block;
}
#cuerda{
    position: absolute;
    width: 4px;
    height: 200px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/cuerda.png);
    top: -80px;
    right: 190px;
    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;
}
.cuerda-temblando{
    animation-name: animacion-cuerda;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-cuerda;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@keyframes animacion-cuerda{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    10%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    20%{
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
    }
    30%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    40%{
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
    }
    50%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    60%{
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
    }
    70%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    80%{
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
    }
    90%{
        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}
#grua{
    position: absolute;
    width: 240px;
    height: 310px;
    top: 40px;
    left: 20%;
    box-sizing: border-box;
}
#grua-1{
    position: absolute;
    width: 16px;
    height: 310px;
    top: 0px;
    right: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/grua_1.png);
}
#grua-2{
    position: absolute;
    width: 270px;
    height: 40px;
    top: 45px;
    left: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/grua_2.png);
    transform-origin: 70% center;
    -webkit-transform-origin: 70% center;
    -o-transform-origin: 70% center;
}
.grua-2-active{
    animation-name: animacion-grua-activa;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: animacion-grua-activa;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes animacion-grua-activa{
    0%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
    50%{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
}
#grua-3{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 46px;
    left: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/grua_3.png);
}

#hilo{
    position: absolute;
    width: 6px;
    height: 90px;
    left: 12%;
    top: 75px;
    background: #77707C;
    background: linear-gradient(to right, #201513, #77707C, #201513);
    background: -moz-linear-gradient(to right, #201513, #77707C, #201513);
    background: -webkit-linear-gradient(to right, #201513, #77707C, #201513);
    background: -o-linear-gradient(to right, #201513, #77707C, #201513);
}

#lingote{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-45%);
    -webkit-transform: translateX(-45%);
    -o-transform: translateX(-45%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/lingote.png);
}
.lingote-active{
    animation-name: animacion-lingote-activo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: animacion-lingote-activo;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes animacion-lingote-activo{
    0%{
        top: 150px;
    }
    50%{
        top: 140px;
    }
    100%{
        top: 150px;
    }
}

#lingote_content{
    position: absolute;
    width: 100%;
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.letter{
    position: relative;
    display: flex;
    width: 20px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px 5px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-bottom: #000 solid 2px;

    font-family: 'FSJoey-Medium';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

#letras-content{
    position: absolute;
    width: 400px;
    width: calc(64px * 6);
    width: -moz-calc(64px * 6);
    height: 130px;
    height: calc(20px * 6);
    height: -moz-calc(20px * 6);
    bottom: 90px;
    left: 2%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
.letra-col{
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ladrillo{
    position: relative;
    width: 60px;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    margin: 0px 2px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(../images/ladrillo.png);

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
}
.ladrillo p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'FSJoey-Bold';
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4);

    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.ladrillo_used{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
}
.ladrillo_used p{
    opacity: 0;
}
.ladrillo_unused:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.4);
    z-index: 100;
}
#incorrectas-content{
    position: absolute;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    background: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF, #CCCCCC);
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #CCCCCC);
    background: -o-linear-gradient(to bottom, #FFFFFF, #CCCCCC);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    bottom: 15px;
    right: 15px;
}
.incorrecta-txt{
    display: flex;
    width: 30px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;

    font-family: 'FSJoey-Bold';
    text-transform: uppercase;
    font-size: 20px;
    color: #444444;
    text-align: center;
    line-height: normal;
    font-weight: normal;
}